header {
    background-color: aqua;
    padding: 10px;
    border: bottom 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    flex: 1;
}

.scorentimer {
    width:50%;
  
    flex:1;
    flex-wrap: wrap;
    float: left;
    text-align: center;
}


header h4 {
    font-size: larger;
    color:black;

}
body {
    font-family: sans-serif;
    background-color: #FFFFE0
  }
  
  .container {
    width: 90%;
    height: 400px;
    margin-top: 25px;
    margin: 35px auto;
  }

  
  .startbtn {
      color:indigo;
      
  }
  .qbtn {
      list-style: none;
  }