header {
    background-color: aqua;
    padding: 10px;
    border: bottom 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    flex: 1;
}

.scorentimer {
    width:50%;
      flex:1;
    flex-wrap: wrap;
    float: left;
    text-align: center;
}


header h4 {
    font-size: larger;
    color:black;
}
body {
    font-family: sans-serif;
    background-color: #FFFFE0
  }
  
  .container {
    width: 90%;
    margin-top: 25px;
    margin: 35px auto;
  }
  .welcomebox {
      width: 60%;
      border-radius: 8px;
      cursor: pointer;
      object-fit: cover;
      text-align: center;
      font-size: 15px;
      color: darkblue;
      justify-content: space-between;
      }
  
  .box {
    width: 60%;
    border-radius: 8px;
    background-color: lightgray;
    cursor: pointer;
    object-fit: cover;
    text-align: center;
    font-size: 15px;
    color: darkblue;
    justify-content: space-between;
  }

  #quiz {
    width: 60%;
    height: 200px;
  }
 ul {
     padding: 8px;
    list-style: none;
 }
  
#startbtn {
      background-color:indigo;
      color: gainsboro;
        }

.q1options {
      list-style: none;
      background-color: rgb(190, 184, 184);
      outline: black;
      font-size: small;
      padding: 10px 15px;
      flex-wrap: wrap;
      box-shadow: darkslateblue;
        }
.qbtn {
    background-color: indigo;
    border-radius: 6px;
    padding: 8px 12px;
}
.qbtn:hover {
    background-color: deepskyblue;
}
.qbtn:active {
    font-size: larger;
}
#answers {
  flex-wrap: wrap;
  font-weight: bold;
}
#break {
  height: 10px;
}
  footer {
      background-color: aqua;
      margin: 5px;
      height: 40px;
      text-align: center;
      }